# CHAPTER 01   : INTRODUCTION    (DAY 01)

# life first code

In [60]:
print("hello world")

hello world

# What is modeule : File which i already in pyython

In [ ]:
import os

# what is pip : Download from internet

# comments

In [ ]:
#My name

In [ ]:
'''hello
bruh'''

# practice set 01

In [ ]:
#1 Write a programe to print twinkle twinkle little star poem
print("Twinkle, twinkle, little star, How I wonder what you are")

In [ ]:
#2 Use REPEL and print the table of 5 using it
 # go to command prombe

# CHAPTER 02  : VARIABLES AND DATATYPE       (DAY 02)

In [ ]:
A = "Abdullah"           #string
print(A)
B = 354                  #int
print(B)
C = 45.32                #float
print(C)
D = True                 # Booleons
print(D)
E = None                 # None
print(E)
_F = "people"            # string
print(_F)

print(type(A))   #printing the type of variables
print(type(B))   #printing the type of variables
print(type(C))   #printing the type of variables
print(type(D))   #printing the type of variables
print(type(E))   #printing the type of variables
print(type(_F))   #printing the type of variables

In [ ]:
# 1. int      : 1,2,3,4,5,6,7...
# 2. float    : 2.3 , 4.5 , 5.6 , 7.8 .....
# 3. string   : "harry" , double or tripple
# 4. booleons : True or False
# 5. None     : typing None

In [ ]:
#Operators
# 1.ARITHEMATICS OPERATORS
print("the value of 3+4 is",3+4)
print("the value of 3+4 is",3-4)
print("the value of 3+4 is",3*4)
print("the value of 3+4 is",3/4)

# 2.ASSIGNMENT OPERATORS
A = 36
A += 2
print(A)
A -= 2
print(A)
A /= 5
print(A)
A *= 45
print(A)

# 3.CMPARISON OPERATORS
B = (9>10)
print(B)
C = (9>5)
print(C)

# 4. LOGICAL OPERATORS 
BOOL1 = True
BOOL2 = False
print("the value of BOOL1 and BOOL2 is",(BOOL1 and BOOL2))
print("the value of BOOL1 and BOOL2 is",(BOOL1 or BOOL2))
print("the value of BOOL1 and BOOL2 is",(not BOOL2))

# TYPE CASTING      : one datatype to another  ( str to int , int to str etc... )

In [ ]:
a = "3534"                    # string
print(type(a))
print( int(a) + 4444)         # use of type casting

b = 5555                      #int
print(type(b))
print( str(5555) + "_rahul" ) # use of type casting

# input    (function)

In [ ]:
a = input("Enter your name bruhhh..")#Always store the value in    STR ONLY  !!!!!!
# a = int(a)   # convert a to int if possible
print(a)
print(type(a))

# PRACTICE SET 02

In [ ]:
# 01 : Write a python program to add two number

# solution 01 :
print("The addition of two number of 5+5", 5+5)

#Solution 02 :
a = 34
b = 36
print("The addition of two number of",a+b)

In [ ]:
# 02 : To write a python program to find remainder when a number is divided by 2
a = 36
b = 6
print( "Remainer when a is divided by b", a%b )
print( "Remainer when a is divided by b", b%a )

In [ ]:
# 03 : Check the type of the variables using input function
a = input("type any word which wil automatically converted into string only_")
print(a)
print(type(a))

In [ ]:
# 04 : USE COMPARISON OPERATORS TO FIND OUT WHETHER A GIVEN VARIABLE "A" IS GREATER THAN "B" OR NOT
a = 34
b = 80
print(a>b)

In [ ]:
# 05 : Write a python program to find average of two numbers entered by the users
a = input("daal bhai pehla number")
a = int(a)
b = input("daal bhai dusra number")
b = int(b)
print("The average of the two numbers are", (a + b)/2 )

In [ ]:
# 06 : Write a python program to calculate the square of a numbe entered by the users

squ = input("daal bhai number agar square chahye to_")
print("yeh lo bhai aapka number square ho gaya hai_" , int(squ) * int(squ) )

# CHAPTER 03  : STRINGE     (DAY 01)

In [ ]:
b = "harry"
c = """Harry"""
d = 'h@arry'
print(b,c,d)
e = 'Harry"s'
print(e)

# Concating str

In [ ]:
name = " Abdullah "
greeting = " good morning "
print( type ( name ) )

merge = name + greeting

print( merge ) 
print( name + greeting )

# slicing of str

In [ ]:
name = "Abdullah is a good boiiii"
print(name[0])
print(name[1])
print(name[2])
print(name[3])
                                      #name[3] = "d"  not alllowerd !!!!!
print(name[0:3])
print(name[1:4])
print(name[:4])
print(name[0:])
print(name[:])


sl = name
print(sl[0:5])
print(sl[0:4])

#negative index
print(name[-4 :-1 ])  #is same as [ 21 : 24]
print(name[21 : 24])

# SLICING WITH SKIP VALUE

In [ ]:
name = "abdullah"
print(name[1:8:2])
print(name[::3])

# str functions

In [134]:
story = "a civil engineer but not for pro "
name = "Abdullah"
name2 = "    my name   "
#length of str
print(len(story))

#endswith
print(story.endswith(" pro "))

#count letter or word
print(story.count("e"))

#capital first letter:
print(story.capitalize())

#small first letter:
print(name.casefold())

#find
print(story.find("civil"))

#strip removal of extra space:
print(name2.strip())

#replace
print(story.replace("civil","mechanical"))
print(story.replace("engineer",""))

33
True
3
A civil engineer but not for pro
abdullah
2
my name
a mechanical engineer but not for pro
a civil  but not for pro

# ESCAPE SEQUENCE

In [ ]:
place = "Hydrebad \n Gujarat \t Rajasthan \' pu\\ne  go\a"
print(place)
# \n = new line
# \t = tab
# \' = single quote
# \\ = backslash

# PRACTISE SET 03

In [ ]:
# 01 : WRITE A PYTHON PRAGRAM TO DISPLAYA USER ENTERNAL NAME FOLLOWED BY GOOD AFTERNOON USING INPUT() FUNCTION
name = input("enter your name for a good afternoon_")
bruh = "_aaaaa meriiii jaaaaannnn..... "
print(name + bruh)

In [ ]:
# 02 : WRITE A PYTHON PROGRAM TO FILL IN A LETTER TEMPLATE GIVEN BELOW WITH NAMEAND DATE
letter = """Dear <|NAME|>,

you are selected!!

Date: <|DATE|>"""
name = input("enter name")
date = input("enter date")
letter = letter.replace("<|NAME|>" , name)
letter = letter.replace("<|DATE|>" , date)
print(letter)

In [ ]:
# 03 : WRITE A PROGRAM TO DETECT DOUBLE SPACE IN A STRING
st = "This a string with double  spaces"
doublespaces = st.find("  ")
print(doublespaces)

In [133]:
# 04 : REPLACE THE DOUBLE SPACE FROM PROBLEM 3 WITH SINGLE SPACES
st = "This a string with  double  spaces"
st = st.replace("  " , " ")
print(st)

This a string with double spaces

In [ ]:
# 05 : WRITE A PROGRAM TO FORMAT THE FOLLOWING LETTER USING ESCAPE SEQUENCE CHARACTERS
letter = "Dear Harry,This program course is nice.Thanks!"
print(letter)



format_letter = "Dear Harry,\n\tThis program course is nice.\nThanks"
print(format_letter)

# CHAPTER 04 : LIST AND TUPPLE        (DAY 02)

In [ ]:
a = [1,2,3,4,5,6,7,8,9,0]
print (  a[0]  ,  a[2]  ,  a[1]  ,  a[4]  )

a[0] = 98
print (  a[0]  ,  a[2]  ,  a[1]  ,  a[4]  )

b = [45, "harry" , True , 0.46]
print(b)

# LIST SLICING

In [ ]:
friends = ["harry", "tom" , "Rohan" , "sam" ,  "Divya" , 45]
print(friends[0:4])
print(friends[0:2])
print(friends[-4:])

# LIST METHODS

In [ ]:
l1 = [3,10,5,9,3,66,33,26]

# Sorts the list
l1.sort()
print(l1)

# Reverse the list
l1.reverse()
print(l1)

# Append \ add  the list at the end
l1.append(45)
print(l1)

#Insert \ replace 
l1.insert(0,545) 
print(l1)

#pop from index  of list
l1.pop(2)
print(l1)

#remove direct element from list
l1.remove(545)
print(l1)

# length :
print(len(l1))


print("visit python docs!!!!!")

# tuple

In [ ]:
a = (2,3,4,5,6,)   # cannot change immutable
print(a)
print(type(a))


b = ()          # empty tuple
print(b)

c = (1,)       #add comma with single elemmments
print(c)

# TUPLE METHODS

In [ ]:
a = (2,3,4,5,6,6,6,7,8,3,9,5,4,23,55,7,6)

#count no of elements
print(a.count(6))
print(a.count(5))

#search the elements in which index
print(a.index(6))
print(a.index(55))


print("visit python.org")

# PRACTISE SET 04       (DAY 02)

In [ ]:
# 01 : WRITE A PROGRAM TO STORE SEVEN FRUITS IN A LIST ENTERED BY THE USERS
name1 = input("enter your fruit name_")
name2 = input("enter your fruit name_")
name3 = input("enter your fruit name_")
name4 = input("enter your fruit name_")
name5 = input("enter your fruit name_")
name6 = input("enter your fruit name_")
name7 = input("enter your fruit name_")
store = []
store.append(name1)
store.append(name2)
store.append(name3)
store.append(name4)
store.append(name5)
store.append(name6)
store.append(name7)
print(store)

In [ ]:
# 01 : WRITE A PROGRAM TO STORE SEVEN FRUITS IN A LIST ENTERED BY THE USERS
name1 = input("enter your fruit name_")
name2 = input("enter your fruit name_")
name3 = input("enter your fruit name_")
name4 = input("enter your fruit name_")
name5 = input("enter your fruit name_")
name6 = input("enter your fruit name_")
name7 = input("enter your fruit name_")
updated_names = [name1,name2,name3,name4,name4,name5,name6,name7]
print(updated_names)

In [ ]:
# 03 : WRITE A PROGRAM TO ACCEPT MARKS OF 6 STUDENTS AND DISPLAY THEM IN A SORTED MANNER
marks1 = input("daaal bhai")
marks2 = input("daaal bhai")
marks3 = input("daaal bhai")
marks4 = input("daaal bhai")
marks5 = input("daaal bhai")
marks6 = input("daaal bhai")
marks_list6 = [marks1,marks2,marks3,marks4,marks5,marks6]
marks_list6.sort()
print(marks_list6)

In [ ]:
#04 CHECK THAT A TUPLE CANNOT CHANGE IN PYTHON
tupl = (66,77,88,99,33)
tupl[0] = 77
print(tupl)

In [ ]:
# 05 : WRIGHT A PROGRAM TO SUM A LIST WITH 4 NUMBERS
sui = [33,44,78,92]
print(sui[0]+sui[1]+sui[2]+sui[3])

In [ ]:
# 06 : WRITE A PROGRAM TO COUNT THE NUMBER OF ZERO IN THE FOLLOWING TUPLE
a = (7,0,8,9,98,93,56,7667,55,4637,563,0,878,95,0,87,0,98,0,765,0,546,0,54,0,0,0,0,555,45,143)
print(a.count(0))

# CHAPTER 05 : DICTIONARY AND SET   (DAY 03)

In [ ]:
mydict = {"fast":"In a quick manner" , "harry" : "A coder" , "marks" : [1,2,6,7,89] , "anotherdict" : {'Harry':'player'}}
print(mydict['marks'])
mydict['marks'] = [45,55]
print(mydict['marks'])
print(mydict['fast'])
print(mydict['harry'])
print(mydict['anotherdict']['Harry'])

# METHODS OF DICTIONARIES

In [113]:
mydict = {"fast":"In a quick manner" , "harry" : "A coder" , "marks" : [1,2,6,7,89] , "anotherdict" : {'Harry':'player'} , 1 :2}

# 1. print keys      and      convert dict to list  :
print(mydict.keys())
print(list(mydict.keys()))

# 2. print value 
print(mydict.values())

# 3. print items (key and value) :
print(mydict.items())

# 4. update

print(mydict)

update_dict = {"lulu" : "friend" , "people" : "fake" , "huge" : "number" , "harry" : "dancer"}
mydict.update(update_dict)
print(mydict)

# 5. get
print(mydict.get("harry"))

print(mydict.get("harry2"))   # not throw error

print(mydict["harry"])


print("\t\t\t\t\tvisit\t python\t dictionaries\t methods")

dict_keys(['fast', 'harry', 'marks', 'anotherdict', 1])
['fast', 'harry', 'marks', 'anotherdict', 1]
dict_values(['In a quick manner', 'A coder', [1, 2, 6, 7, 89], {'Harry': 'player'}, 2])
dict_items([('fast', 'In a quick manner'), ('harry', 'A coder'), ('marks', [1, 2, 6, 7, 89]), ('anotherdict', {'Harry': 'player'}), (1, 2)])
{'fast': 'In a quick manner', 'harry': 'A coder', 'marks': [1, 2, 6, 7, 89], 'anotherdict': {'Harry': 'player'}, 1: 2}
{'fast': 'In a quick manner', 'harry': 'dancer', 'marks': [1, 2, 6, 7, 89], 'anotherdict': {'Harry': 'player'}, 1: 2, 'lulu': 'friend', 'people': 'fake', 'huge': 'number'}
dancer
None
dancer
					visit	 python	 dictionaries	 methods

# EMPTY DICTIONARY , SET , Tuple , List

In [ ]:
b = {}
print(type(b))

c = set()
print(type(c))

d = ()
print(type(d))

e = []
print(type(e))

# SET

In [ ]:
a = {2,5,8,3,2}     #ignore repeated elements
print(a)
print(type(a))



print("set does not allow list, dictionary in set","Hashable")

# METHODS OF SETS

In [ ]:
#1 ADD ELEMENTS :

b = set()        #EMPTY SET   !!!!!

b.add(3)
b.add(4)
b.add(5)
b.add(5)
b.add(5)
b.add(5)
b.add((3,4,5))
print(b)

#2 LENGTH of set :
print(len(b))

#3 REMOVE the elements:
b.remove((3,4,5))
b.remove(3)
print(b)

#4 pop of element :
print(b.pop())

#5 union :
b.union({5,6})
print(b)

#6 interseption :
b.intersection({4,5})
print(b)

# PRACTISE SET 05 :

In [ ]:
#1 :WRITE A ROGRAM TO CREATE A DICTIONARY OF HINDI WORDS WITH VALUES AS THEIR ENGLISH TRANSACTION.PROVIDE USER WITH AN OPTION TO LOOK IT UP 

trans = { "dekhna" : "look" , "aana" : "entry" , "murgi" : "hen" , "manushye" : "human" }
hin = input("type \n dekhna \n aana \n murgi \n manushye  ")
print(trans[hin],"\nyour translated is done!!!")

In [ ]:
#2 WRITE A PROGRAM TO INPUT EIGHT NUMBERS FROM USERS AND DISPLAY ALLL THE UNIQUE NUMBERS :
num1 = input()
num2 = input()
num3 = input()
num4 = input()
num5 = input()
num6 = input()
num7 = input()
num8 = input()
st = {num1,num2,num3,num4,num5,num6,num7,num8}
print(st)

In [ ]:
# 3 : CAN WE HAVE A SET WITH 18(INT) AND "18"(STR) AS A VALUE IN IT:
st = {18,"18"}
print(st)

In [ ]:
# 4 : WHAT WILL BE LENGTH OF FOLLOWING SET S :
s = {20,20.0,"20"}
print(len(s))

In [ ]:
# 5 : s = {}    what is a type of s
s = {}
print(type(s))

In [ ]:
# 6 : CREATE AN EMPTY DICTIONARY ALLOW 4 FRIENDS TO ENTER THEIR FAVOURATE LANGUAGE AS VALUED AND USE KEY AS THEIR NAMES . ASSMUE THAT THE NAMES ARE UNIQUE

# METHOD 01 :
dic = {}
a = input("enter your fav language Shubham \n ")
b = input("enter your fav language Ankit \n ")
c = input("enter your fav language Sonali \n ")
d = input("enter your fav language Harshita \n  ")
dic["Shubham"] = a
dic["Ankit"] = b
dic["Sonali"] = c
dic["Harshit"] = d
print(dic)

# METHOD 02 :
fic = {}
a = input("enter your fav girl taha \n ")
fic_update = {"taha" : a}
fic.update(fic_update)
print(fic)
print("ommmphooo tahaaa omphooo")

In [ ]:
# 7 : IF NAMES OF 2 FRIENDS ARE SAME WHAT WILL TO THE PROGRAM IN PROBLEM 6 :
a = input("enter your fav language Shubham \n ")
b = input("enter your fav language Ankit \n ")
c = input("enter your fav language Sonali \n ")
d = input("enter your fav language Harshita \n  ")
dic["Shubham"] = a
dic["Ankit"] = b
dic["Shubham"] = c
dic["Harshit"] = d
print(dic)

In [ ]:
# 8 : IF LANGUAGE OF TWO FRIENDS ARE SAME WHAT WILL HAPPEN TO THE PROGRAM IN PROBLEM 6 :
dic = {}
a = input("enter your fav language Shubham \n ")
b = input("enter your fav language Ankit \n ")
c = input("enter your fav language Sonali \n ")
d = input("enter your fav language Harshita \n  ")
dic["Shubham"] = a
dic["Ankit"] = b
dic["Sonali"] = c
dic["Harshit"] = d
print(dic)

In [ ]:
# 9 : CAN YOU CHANGE THE VALUE INSIDE A LIST WHICH IS CONTAINED IN SET 5
5 = {8,7,12 , "harry" , [7,8,9]}
print(5)

# NHI BHAI NHI CHANGE KR SAKTA HAI

# CHAPTER 06 : CODITION EXPRESSION    (DAY 04)

In [ ]:
a = 15
if(a<3):
    print("the value is greater than 3")
    
elif(a>7):
    print("the value of a is greater than 7")
    
elif(a>17):
    print("the value of a is greater than 17")

elif(a>17):
    print("the value of a is greater than 317")

else:
    print("the value is not greater than 3 or 7")

In [ ]:
Taha = input("taha teri wives k naam daal _")
duc = {"1wife" : "sameera" , "2wife" : "afra" , "3wife" : "misba" , "4wife" : "4 wife koi bhi chalegi bhai"}
if Taha == "1wife" :
    print(duc["1wife"])
elif Taha == "2wife" :
    print(duc["2wife"])
elif Taha == "3wife":
    print(duc["3wife"])
elif Taha == "4wife":
    print(duc["4wife"])
else:
    print("chutiye saale gunah hai yeh")

In [ ]:
# QUICK QUIZE : WRITE A PROGRAM TO PRINT YES WHEN THE AGE ENTERED BY THE USER IS GREATER THEN OR EQUAL TO 18:

# ans1 = 27
# ans2 = 18
# ans3 = 17
if ans == 18  :
    print("yes")
elif ans > 18 :
    print("okey")
else :
    print("no")
    
# ==   : equal
# >=   :greater than, equal
# <=   :lesser than, equal

# AND :
age = 17
if age > 18 and age < 34:      # both should be true
    print("aaa yeah")
else :
    print("bhak")
    
# OR :
age1 = 17
if age1 > 18 or age1 < 34:      # one condition should be true
    print("aaa yeah")
else :
    print("bhak")

# NOT :   instead true to fase and false to true

# IN AND IS

In [ ]:
# IS 
a = None
if a is None :
    print("yes")
else :
    print("no")
    
# IN
LIST = [45,46,47]
print(45 in LIST)
print(145 in LIST)

# PRACTISE SET 06   (DAY 04)

In [ ]:
# 1 : WRITE A PROGRAM TO FIND GREATEST OF FOUR NUMBERS ENTERED BY THE USER
num1 = 444
num2 = 12356
num3 = 7534333256578
num4 = 8545577453
if num1 > num2 and num1 > num3 and num1 > num4 :
    print("greater is num1")
elif num2 > num1 and num2 > num3 and num2 > num4 :
    print("greater is num2")
elif num3 > num1 and num3 > num2 and num3 > num4 :
    print("greater is num3")
elif num4 > num1 and num4 > num2 and num4 > num3 :
    print("greater is num4")
else :
    print("Bhai tu rehne de plzz")

In [ ]:
# 3 : WRITE A PROGRAM TO FIND OUT WHETHER A STUDENT IS PASS OR FAIL , IF IT REQUIRE TOTAL 40 % AND ATLEAST 33 IN EACH SUBJECT TO PASS. ASSUME 3 SUBJECTS AND TAKE MARKS AS AN INPUT FROM THE USER :
english       = 33
mathematics   = 33
science       = 33
per = (english+mathematics+science) / 300 *100
print(per,"\tyour percentage\n")
if english < 33 and mathematics < 33 and science < 33 :
    print("you are fail\n")
elif english >= 33 and mathematics >= 33 and science >= 33 :
    print("you are pass\t congrates\n")

if per > 40 :
    print("you are pass in percentage means you are above 40% \t well done\n")
elif per < 40 :
    print("you are fail in percentage means you are below 40% better luck next time\n")

In [ ]:
# 3 A SPAM COMMENT IS DEFINED AS A TEXT CONATINING FOLLOWING KEYWORDS :"MAKE A LOT OF MONEY","BUY NOW","SUBSCRIBE THIS",
#"CLICK THIS". WRITE TO DETECTS THESE SPAM
text = "make money and click this"
if "make a lot of money" in text :
    spam = True
elif "buy now" in text :
    spam = True
elif "subscribe" in text :
    spam = True
elif "click this" in text :
    spam = True
    
if spam:
    print("this text is spam")
else :
    print("this text is not spam")

In [ ]:
# 4 : WRITE A PROGRAM TO FIND WHETHER A GIVEN USERNAME CONTAINS LESS THAN 10 CHARACTERS OR NOT :
name = "abdullah"
length = len(name)
if length < 10 :
    print("a given username is less than 10 characters")

In [ ]:
# 5 : WRITE A PROGRAM HICH FINDS OUT WHETHER A GIVEN NAME IS PRESENT IN A LIST OR NOT :
namel = ["abdullah","hafiz","taha","ayyan","mehtab","zayyan","hamza","inamul","sameera","rutika","shraddha","kais","ayyan","fahad"]
text = "misba"
if text in namel :
    print("haan bhai turu friend")
else :
    print("chala jaa ya chali jaa")

In [ ]:
# 6 : WRITE A PROGRAM TO CALCULATE THE GRADES OF A STUDENTS FROM HIS MARKS FROM THE FOLLOWING SCHEME :
# 90 - 100 = ex
# 80 - 90  = a
# 70 - 80  = b
# 60 - 70  = c
# 50 - 60  = d

marks = 54
if marks > 90 and marks < 100 :
    print("EXCELLENT grade")
elif marks > 80 and marks < 90 :
    print("A grade")
elif marks > 70 and marks < 80 :
    print("B grade")
elif marks > 60 and marks < 70 :
    print("C grade")
elif marks > 50 and marks < 60 :
    print("D garde")
else :
    print("tera kuch nhi ho sakta bhau")

In [ ]:
# 7 : WRITE A PROGRAM TO FIND OUT WHETHER A GIVEN POST IS TALKING ABOUT HARRY OR NNOT

# CHP 07 : LOOPS IN PYTHON     (DAY 05)

# WHILE LOOP

In [ ]:
i = 0
while i<10:
    print("yes" + str(i))
    i = i +1
print("done\n")

# QUICK QUIZE : WRITE A PROGRAM TO PRINT 1 TO 50 USING A WHILE LOOP :
n = 1
while n<51 :
    print(n)
    n = n + 1 
    
# EXAMPLE :
m = 0
while m < 5 :
    print("harrry")
    m = m + 1
    
# QUICK QUIZE : WRITE A PROGRAM TO PRINT THE CONTENT OF THE LIST USING WHILE LOOPS :

list1 = ["banana" , "apple" , "grapes" , "pine apple" ]
f = 0 
while f < len(list1) :
    print(list1[f])
    f = f + 1

list2 = [1,2,3,4,5,6,7,8,9]
n1 = 0 
while n1 < len(list2):
    print(list2[n1])
    n1 = n1 + 1

# FOR LOOP

In [ ]:
list1 = ["banana" , "apple" , "grapes" , "pine apple" ]
for item in list1 :
    print(item)

# RANGE FUNCTION :

In [ ]:
for i in range(8) :                                          # how to use range
    print(i)
    
print("hi \n")

for i in range(1, 8) :                                         # starts and stops
    print(i)

print("hi \n")

for i in range(2, 8) :                                            # starts and stops
    print(i)

print("hi \n")

for i in range(1,8,2) :                                           #steps
    print(i)

# FOR LOOP WITH ELSE

In [ ]:
for i in range(10) :
    print(i)
else :
    print("khatam bye bye tata")     #optional

# BREAK STATEMENT

In [ ]:
for i in range(10) :
    print(i)
    if i == 5 :
        break
else :
    print("khatam bye bye tata")     #when loop is succesfully done then only executed

# CONTINUE STATEMENT

In [ ]:
for i in range(10) :
    if i == 5 :
        continue                     # skip items   in range
    print(i)

# passed statement

In [ ]:
i = 4 
if i > 0:
    pass      # not throw error work similar as comments
print("harry")

while i > 6 :
    pass
print("Harry")

def run(player):
    pass
def ouch(player) :
    pass

print("functions")

# PRACTISE SET 07      (DAY 05)

In [46]:
# 1: WRITE A PROGRAM TO PRINT MULTIPLICATION TABLE OF A GIVEN NUMBAER USING FOR LOPP :
num = 2
for i in range(1,11):
       print(str(num) + "X" + str(i) + "=" + str(i*num) )
    
    
f"{num}X{i}={num*i}     f  strng

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

In [ ]:
# 2 : WRITE A PROGRAM TO GREET ALL THE PERSON NAMES STORE in a list l1 and which starts with "s"
name_list = ["harry" , "soham" , "sachin" , "rahul" , "sahil" , "shizuka"]
# print(name_list[0])
name = "shizuka"
for item in name_list:
#     if (name_list[0]) == name or (name_list[3]) == name :
#         print("Congradulation for your promotion bruh")
#         break
#     elif (name_list[1]) == name or (name_list[2]) == name :
#         print("Congradulation for your promotion bruh")
#         break
#     else :
#         print("mhi hua bhai")
#         break
    if name[0] == "s" :
        print("congrates promoted")
        break
    else :
        print("no bruh")
        break

In [ ]:
# 3 : ATTEMPT PROBLEM 1 USING WHILE LOOP 
number = 2
i = 0
while i < 11 :
    print( i * number )
    i = i + 1

In [ ]:
# 4 : WRITE A PROGRAM TO FIND WHETHER A GIVEN NUMBER IS PRIME OR NOT :
# 1st solution
number = 79 
for i in range(2,number) :
    if (number%i==0):
        print("it is not a prime number")
        break
    else :
        print("it is a prime number")
        break

#2nd solution :
number1 =34
prime = True
for i in range(2,number1):
    if(number1%i):
        prime = False
        break
if prime :
    print("it is a prime number")
else :
    print("it s not a prime number")

In [ ]:
# 5 : WRITE A PROGRAM TO FIND THE SUM OF FIRST N NATURAL NUMBER USING WHILE LOOP 

# solution 1 for while loop
i = 2
count = 1
while i < 11:
    count = count + i        #this count value will safe after one round of loop is done
    i = i + 1
print(count)
    
    
#solution 2 for   for loop    
count1 = 1
for i in range (2,11):
    count1 = count1 + i
print(count1)

In [38]:
# 7 : WRITE A PROGRAM TO PRINT THE FOLLOWING STAR PATTERN :
n = 2
for i in range(4):
    print(" " * (n - i + 2), end ="")
    print(" * " * (2 * i + 1), end ="")
    print(" " * (n - i + 2))
    
n_ = 3
for i in range (3) :
    print(" " * (n_ - i - 1), end=" ")
    print("*" * (2 * i + 1), end=" ")
    print(" " * (n_ - i - 1))

     *
    *  *  *
   *  *  *  *  *
  *  *  *  *  *  *  *
   *
  ***
 *****

In [11]:
# 8 : WRITE A PROGRAM TO CALCULATE THE FACTORIAL OF A GIVEN NUMBER USING LOOPS
num = 5
factorial = 1
for i in range (1,num+1):
    factorial = factorial * i
    print(factorial)

1
2
6
24
120

In [13]:
# 9 : WRITE A PROGRA TO PRINT THE FOLLOWING THE PATTERN :
for i in range (4) :
    print("*" * (i + 1))

*
**
***
****

In [40]:
# 10 WRITE A PROGRAM T PRINT THE FOLLOWING STAR PATTERN:
n__ = 3
for i in range (3) :
    print(" " * (n__ - i - ), end ="")
    print("*" * (2 * i + 3),end="")
    print(" " * (n__ - i - ), )

  ***
 *****
*******

In [50]:
# 11 PRINT MULTIPLICATION TABLE IN REVERSE ORDER :
for i in range(11,0,-1):
    print(str(num) + "X" + str(i) + "=" + str(i*num) )

2X11=22
2X10=20
2X9=18
2X8=16
2X7=14
2X6=12
2X5=10
2X4=8
2X3=6
2X2=4
2X1=2

# CHAPTER 08 : FUNCTIONS AND RECURSIONS

In [56]:
def percent(marks) :
    return ((marks[0] + marks[1] + marks[2] + marks[3]) /400) * 100
marks_1 = [45,78,86,77]
percentage_1 = percent(marks_1)
marks_2 = [75,98,88,78]
percentage_2 = percent(marks_2)
print(percentage_1 , percentage_2)


# marks_1 = [45,78,86,77]
# percentage_1 = sum(marks_1) /400 *100

# marks_2 = [75,98,88,78]
# percentage_2 = sum(marks_2)/400 *100

# print(percentage_1 , percentage_2)

71.5 84.75

In [59]:
# QUICK QUIZE : WRITE A PROGRAM TO GET A USER WITH A "GOOD DAY" USING FUNCTION
def greet(name):
    print("good day ," + name)
greet("Abdullah")

good day ,abdullah

# Types of function :

In [64]:
# build-in function 


#user defined function

#1 :
def greet(name):
    print("good day ," + name)
greet("Abdullah")

#2
def add(num) :
    plus = (num[0] + num [2] + num[3] + num[4] + num[5] + num[6] + num[7] +num[8] + num[9])
    return plus
num_list = [1,2,3,4,5,6,7,8,9,10]
plus1 = add(num_list)
print(plus1)

#3
def twosum(num1 , num2):
    return num1 + num2
s = twosum(9,91)
print(s)

good day ,Abdullah
53
100

# DEFAULT PARAMETER VALUE :

In [67]:
def greet(name = "stranger") :
    return print("good day , " + name)
greet()      # when no argument is passed
greet("Abdullah")

good day , stranger
good day , Abdullah

# RECURSION

In [75]:
# n = 5
# product = 1
# for i in range (n) :
#     product = product * (i + 1)
# print(product)

def factorial_iter(n):
    product = 1
    for i in range (n) :
        product = product * (i + 1)
    return product
print(factorial_iter(7))

def factorial_recursive(n) :
    if n == 0 or n == 1 :
        return 1
    return n * factorial_recursive(n-1)
factorial_recursive(8)

5040

40320

# PRACTICE SET 08 :

In [94]:
# 1 : WRITE A PROGRAM USING FUNCTION TO FIND GREATEST OF THREE NUMBERS :
def maximum(num1,num2,num3) :
    if num1 > num2 and num1 > num2 :
        print(num1)
    elif num2 > num1 and num2 > num3 :
        print(num2)
    elif num3 > num1 and num3 > num2:
        print(num3)
max1 = maximum(5,77,77.8)

def greater(num_1,num_2,num_3) :
    if (num_1>num_2) :
        if (num_1>num_3) :
            return num_1
        else:
            return num_3
    else :
        if(num_2>num_3) :
            return num_2
        else :
            return num_3
max2 = greater(66,77,88) 
print(max2)

77.8
88

In [99]:
# 2 : WRITE A PROGRAM USING FUNCTION TO CONVERT CELSIUS TO FAHRENHEIT :
def farh(cell) :
    return (cell * (9/5)) + 32 
c = 76
f = farh(c)
print(f)

168.8

In [101]:
# 3 : HOW DO YOU PREVENT PRINT() FUNCTION TO PRINT A NEW LINE AT THE END :
print("Hello", end= " ")
print("how", end= " ")
print("are", end= " ")
print("you?", end= " ")

Hello how are you?

In [111]:
# 4 : WRITE A RECUSIVE FUCTION TO CALCULATE THE SUM OF FIRST N NATURAL NUMBER :
def calculate(num) :
    count1 = 1
    for i in range(num) :
        count1 = i + count1
    return count1
        
n = 18
calculate(n)

154

In [123]:
# 5 : WRITE A PYTHON FUNCTION TO PRINT FIRST N LINES OF THE FOLLOWING PATTERN :
n = 6 
for i in range (n) :
    print("*" * (n-i))

******
*****
****
***
**
*

In [125]:
# 6 : WRITE A PYTHON FUNCTION which converts inches to cms :
def cms(num):
    return(num * 2.54)
n = 6
p = cms(n)
print(p)

15.24

In [132]:
# 7  : WRITE A PYTHON PROGRAM TO REMOVE A GIVEN WORD FROM A STRINGE AND STRIP IT AT THE SAME TIME :

# strip
harry = "      Harry is a good boy        "
# print(harry)
# print(harry.strip())

def remove_and_split(string , word) :
    newstr = string.replace(word,"")
    return newstr.strip()
n = remove_and_split(harry,"Harry")
print(n)

is a good boy

In [140]:
# 8 : WRITE A PYTHON FUNCTIO TO PRINT MULTIPLICATION TABLE OF  GIVEN NUMBER :
def table(num):
    for i in range (11):
        print(i * num)
        
n =888
y = table(n)
print(y)

0
888
1776
2664
3552
4440
5328
6216
7104
7992
8880
None

# CHAPTER 09 : FILE

In [ ]:
#TYPES OF FILES :
# 1. text file (open inn notepad)
# 2 .binary file (open inn notepad but cannot be undrstood)

In [10]:
f = open('untitled.txt', 'r')      # open a file 'r' is there
data = f.read()
print(data)
f.close                    

f1 = open('untitled.txt')          #open a file 'r' is not there
data1 = f1.read(5)                 # first 5 letters in file
print(data1)
f1.close

abdullah is a good boiiiii...
you are fine naa bruhh....
thanks for your help ...
abdul

# OTHER METHODS TO READ THE FILE

In [11]:
# Readline function :
f3 = open('untitled.txt')      
data3 = f3.readline()                      # read First line
print(data3)

data3 = f3.readline()                      # read Second line
print(data3)

data3 = f3.readline()                      # read Third line
print(data3)
f3.close  

# Open for writins   :   'w'
# open frappending   :   'a'
# open for updating  :   '+'

#binary file :
# open for read in text mode :  'rt'
# open for read in binary mode : 'rt'

abdullah is a good boiiiii...

you are fine naa bruhh....

# WRITING FILES IN PYTHON

In [27]:
# g = open ('harry.text','w')   to  make a file if it does not assess or to wright in file
# g.write("please write to the file")
# g.close()
g=open('harry.text' , 'a')
g.write(" i am appending ")      # how much you run thats time it will print to the file
g.close()

In [28]:
o = open('harry.text','w')
o.write("my name is abdullah ")    # all content wipe out and only print in the wright functon
o.write("my name is farhaan ")
o.write("my name is lion ")
o.write("my name is abdulla ")
o.close()

# WITH STATEMENT

In [32]:
with open('harry.text' , 'r') as f :
    a = f.read()
print(a)
with open('harry.text' , 'w') as f :
    a = f.write("me")

me

#  CHAPTER 10 : OBJECT ORIENTED PROGRAMMING

In [36]:
class number :
    def sum(self):
        return self.a + self.b
num = number()
num.a = 12
num.b = 34
s = num.sum()
print(s)




# a = 12
# b = 34
# print("the sum is",a+b)

46

# CLASS

In [ ]:
# a class is a blueprint do not take memory by its own      (PascalCase)

'''
PascalCase
EmployeeName --> PascalCase          # first letter capital and second letter is also capital

camalCase
isNumeric,isFloat,isFloatInt --> camalCase      # first letter is small and second letter is capital and aage bhi capital hoga koi bhi letter
'''

# OBJECT

In [ ]:
#when object ia made then only application is available.Memory ia alloted after object instantiation(num=number())

In [46]:
# 1 :
class RailwayForm :
    formtype = "Railwayform"
    def printdata(self) :
        print(f"Name is {self.name}")
        print(f"Train is {self.train}")
    
    
harryApplication = RailwayForm()          # it is object how it s writtern
harryApplication.name  = "Harry"
harryApplication.train = "Rajdhani Express"
harryApplication.printdata()

# 2 :
class Cricket():
    def cricketdata(self):
        print(f"name is_ {self.name}")
        print(f"runs is_ {self.run}")
        print(f"series played_{self.series}")
ogPlayer = Cricket()
ogPlayer.name    = "abdullah"
ogPlayer.run     = 43
ogPlayer.series   = 3
ogPlayer.cricketdata()


# 3 :

# class remote:
#     def isLeftPressed(self):
#         pass
#     def isRightPressed(self):
#         pass
#     def isTopPressed(self):
#         pass

# class player :
#     def moveright(self) :
#         pass
#     def moveleft(self) :
#         pass
#     def movetop(self) :
#         pass

# remote1 = remote()           this is a object
# player1 = player()           this is a object

# if(remote1.isLeftPressed()) :
#     player1.moveleft()

name is_ abdullah
runs is_ 43
series played_3

# CLASS ATTRIBUTES

In [61]:
#CLASS ATTRIBUTES :
# class Employe :
#     company = "Google"          # this can be change .....fr the requirements...
# harry = Employe()
# rajni = Employe()
# print(harry.company)
# print(rajni.company)
# Employe.company = "You Tube"    # here google is changed by You Tube
# print(harry.company)
# print(rajni.company)


# INSTANCE ATTRIBUTES :    (add )
class Employe1 :
    company1 = "Google1" 
    salary   = 100            # here is same in class
harry1 = Employe1()
rajni1 = Employe1()
harry1.salary = 300  #cooment kr k dekh          # instance attribute   variabe is use aanoter with same as in class
rajni1.salary  = 400 #cooment kr k dekh          # instance attribute   variabe is use aanoter with same as in class
print(harry1.salary)
print(rajni1.salary)
print(Employe1.salary)

300
400
100

# SELF PARAMETER

In [14]:
class Employee :
    company = "Google"
    def getsalary(self , signature): #harry will come in self
        print(f"salary for this employee working in {self.company} is {self.salary} \n {signature}")
harry = Employee()
harry.salary = 100000
harry.getsalary("thanks !")     # Employee.getsalary(harry)

salary for this employee working in Google is 100000
 thanks !

# STATIC METHOD

In [15]:
class Employee :
    @staticmethod   # this is a static method where self will ignore down
    def greet (): 
        print("Good Morning , Sir")
    @staticmethod
    def time () :
        print("the time is 9AM  in the evening")

harry = Employee()
harry.greet()  
harry.time()

#  @staticmethod

Good Morning , Sir
the time is 9AM  in the evening

# CLASS METHOD       (cls)

In [97]:
class Employee :
    company = "Camel"
    salary = 100
    location = "Delhi"
    
#     def changeSalary(self,sal) :
#         self.__class__.salary = sal            # METHOD 1 : aisa bhi kr sakte hai jidher class change kr sakte hai
    @classmethod
    def changeSalary(cls,sal) :                  # METHOD 2 : aisa bhi kr sakte hai jidher class change kr sakte hai
        cls.salary = sal
    @classmethod
    def changelocation(cls,locatio) :
        cls.location = locatio
        
e = Employee()
print(e.salary)

e.changeSalary(1000)
print(e.salary)

print(Employee.salary)

e.changelocation("Maharashtra")
print(e.location)

100
1000
1000
Maharashtra

In [33]:
class Employee :
    company = "Google"
    
    def __init__(self , name , salary , subunits):       # constructor
        self.name = name
        self.salary = salary
        self.subunits = subunits
        print("Employee is created")
    def getDetails(self) :
        print(f"The name of the employee is {self.name}")
        print(f"The name of the employee is {self.salary}")
        print(f"The name of the employee is {self.subunits}")
    def getsalary(self , signature): #harry will come in self
        print(f"salary for this employee working in {self.company} is {self.salary} \n {signature}")
    @staticmethod   # this is a static method where self will ignore down
    def greet (): 
        print("Good Morning , Sir")
    @staticmethod
    def time () :
        print("the time is 9AM  in the evening")
# harry = Employee("harry", 100 , "TouTube" )
# harry.getDetails()
sumit = Employee("sumit", 100 , "TouTube")
sumit.getDetails()

rahul = Employee("rahul", 200 , "WhatsApp")
rahul.getDetails()

abdullah = Employee("Abdullah", 300 , "Facebook")
abdullah.getDetails()

Employee is created
The name of the employee is sumit
The name of the employee is 100
The name of the employee is TouTube
Employee is created
The name of the employee is rahul
The name of the employee is 200
The name of the employee is WhatsApp
Employee is created
The name of the employee is Abdullah
The name of the employee is 300
The name of the employee is Facebook

# PRACTISE SET : 10

In [39]:
#Q 1 : CREATE A CLASS PROGRAMMER FOR STORING INFORMATION OF FEW PROGRAMMERS WORKING AT MICROSOFT :


class Micro :
    company = "Microsoft"
    def __init__(self , name , product) :
        self.name     = name
        self.product  = product
        
    def getInfo(self) :
        print(f"The name of the {self.company} employee is {self.name} and the product is {self.product}")

abdullah = Micro("Abdullah" , "Skype")
harry = Micro("Harry" , "GitHub")
harry.getInfo()
abdullah.getInfo()

The name of the Microsoft employee is Harry and the product is GitHub
The name of the Microsoft employee is Abdullah and the product is Skype

In [49]:
# Q 2 : WRITE A CLASS PROGRAMMER FOR STORING OF FINDING SQUARE,CUBE AnD QUAREROOT OF A NUMBER :
class Calculator :
    def __init__(self , num):
        self.num = num
    def square(self) :
        print(f"the value of {self.num} square is {self.num**2} ")
    def cube(self) :
        print(f"the value of {self.num} cube is {self.num**3} ")
    def squareroot(self) :
        print(f"the value of {self.num} squareroot is {self.num**0.5} ")
        
a = Calculator(9)
a.square()
a.cube()
a.squareroot()

the value of 9 square is 81
the value of 9 cube is 729
the value of 9 squareroot is 3.0

In [50]:
print("hello world")

hello world

# CHP 11 : INHERITANCE AND MORE ON OPPS

In [57]:
class Employee :
    company = "Google"
    
    def showDetails(self) :
        print("this is an employee")
        
class programmer(Employee) :                   # class k andar class hai bhayiiii...
    language = "Python"
    company = "youtube"                       # naya banana rahega to bana sakte hai same name k saath bhi bhai...
    def getLanguage(self):
        print(f"the language is {self.language}")
    def showDetails(self) :
        print("this is an programmer")        # naya banana rahega to bana sakte hai same name k saath bhi bhai...
e = Employee()
e.showDetails()

p = programmer()
p.getLanguage()
p.showDetails()
print(p.company)

this is an employee
the language is Python
this is an programmer
youtube

# TYPES OF INHERITACE

In [ ]:
# SINGLE INHERITANCE :
class Employee :
    company = "Google"
    
    def showDetails(self) :
        print("this is an employee")
        
class programmer(Employee) :                  
    language = "Python"
    company = "youtube"                       
    def getLanguage(self):
        print(f"the language is {self.language}")
    def showDetails(self) :
        print("this is an programmer")

In [65]:
# MULTIPLE INHERITANCE :
class Employee :
    company = "Visa"
    ecode = 120
class Freelancer :
    company = "Fiver"
    level = 0
    
    def upgradeLevel(self) :
        self.level = self.level + 1
class Programmer(Employee,Freelancer) :    # jo pehle likhege wahi aayega pehle 
    name = "Rohit"
p = Programmer()
p.upgradeLevel()
print(p.level)
print(p.company)                  #yeh waali line dekh

1
Visa

In [73]:
# MULTILEVEL INHERITANCE :
class  Person :                                 # dada
    country = "India"
    def takebreak(self) :
        print("I am breathing...")

        
class Employee(Person) :                                # dada ka beta_1
    company = "Honda"
    
    def getSalary(self) :
        print(f"salary is {self.salary}")
    def takebreak(self) :
        print("I am an employee so i am luckly breathing")
        

class Programmer(Employee) :                   # beta_1 ka beta
    company = "Fiver"
    def getSalary(self) :
        print("No salary to programmer")

p = Person()
p.takebreak()

e = Employee()
e.takebreak()

pr = Programmer()
pr.takebreak()
print(pr.country)

I am breathing...
I am an employee so i am luckly breathing
I am an employee so i am luckly breathing
India

# SUPER METHOD

In [76]:
class  Person :                                 # dada
    country = "India"
    def takebreak(self) :
        print("I am breathing...")

        
class Employee(Person) :                                # dada ka beta_1
    company = "Honda"
    
    def getSalary(self) :
        print(f"salary is {self.salary}")
    def takebreak(self) :
        super().takebreak()
        print("I am an employee so i am luckly breathing")
        

class Programmer(Employee) :                   # beta_1 ka beta
    company = "Fiver"
    def getSalary(self) :
        print("No salary to programmer")
    def takebreak(self) :
        super().takebreak()                    # yeh line daalne se upar ki class ka run hoga agar woh (takebreak) hai to ...
        print("i am not am employee so i can't")

p = Person()
p.takebreak()

e = Employee()
e.takebreak()

pr = Programmer()
pr.takebreak()




# agar superclass bohut baaar daale hai to woh chain ban jayegi or ek dusre pe depend ho jayegi woh bolegi pehle upar ka 
# super class run kr k aao

I am breathing...
I am breathing...
I am an employee so i am luckly breathing
I am breathing...
I am an employee so i am luckly breathing
i am not am employee so i can't

# SUPER METHOD USE IN CONSTRUCTOR

In [80]:
class  Person :                                 
    country = "India"
    def __init__(self):
        print("initializing person..")
    def takebreak(self) :
        print("I am breathing...")

        
class Employee(Person) :                               
    company = "Honda"
    def __init__(self):
        super().__init__()                                          # yeh line dekh bhai
        print("initializing employee..")
    
    def getSalary(self) :
        print(f"salary is {self.salary}")
    def takebreak(self) :
        super().takebreak()
        print("I am an employee so i am luckly breathing")
        

class Programmer(Employee) :                  
    company = "Fiver"
    def __init__(self):
        super().__init__()                                         # yeh line dekh bhai
        print("initializing Programmer..")
    def getSalary(self) :
        print("No salary to programmer")
    def takebreak(self) :
        super().takebreak()                    
        print("i am not am employee so i can't")
        
        
# e = Employee()
pr = Programmer()

initializing person..
initializing employee..
initializing Programmer..

# PROPERTY DECORATOR

In [114]:
class Employee :
    company = "Bharat Gas"
    salary = 5600
    salarybonus = 400
    
    @property #getter
    def totalSalary(self) :
        return (self.salary) + (self.salarybonus)
    
    @totalSalary.setter
    def totalSalary(self,val):
        self.salarybonus = val - self.salary
        
    
e = Employee()

print(e.totalSalary)
# print(e.totalSalary())         property nhi ho to () yeh waali sign aayegi
 
e.totalSalary = 5800
print(e.salary)
print(e.salarybonus)

6000
5600
200