In [4]:
# pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     -------------------------------------- 293.3/293.3 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pandas>=0.25 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.7.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [21]:
df = pd.read_csv('Cargo.csv')

In [27]:
df

,Area of operation (both ways),type,2013-14,2014-15,2015-16,2016-17,2017-18
0,Chattogram - Coxes Bazar,Domestic flight,-,-,-,-,-
1,Coxes Bazar - Chattogram,Domestic flight,-,-,-,-,-
2,Chattogram - Dhaka,Domestic flight,47,17,7,-,5
3,Dhaka - Chattogram,Domestic flight,575,906,168,53,1263
4,Coxes Bazar - Dhaka,Domestic flight,-,-,0,429,-
...,...,...,...,...,...,...,...
90,Doha - Sylhet,International flight,2,1,24,92,41
91,Kuala Lumpur - Chattogram,International flight,-,-,-,-,-
92,Kuwait - Chattogram,International flight,4,10,32,74,-
93,Yangon - Chattogram,International flight,-,-,-,-,-
94,Other International,International flight,4,1,-,-,6

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area of operation (both ways)  95 non-null     object
 1   type                           95 non-null     object
 2   2013-14                        95 non-null     object
 3   2014-15                        95 non-null     object
 4   2015-16                        95 non-null     object
 5   2016-17                        95 non-null     object
 6   2017-18                        95 non-null     object
dtypes: object(7)
memory usage: 5.3+ KB

In [26]:
df.shape

(95, 7)

In [ ]:
df