In [1]:
import pandas as pd

In [2]:
import re

In [3]:
pd.pandas.set_option('display.max_columns' , None)

In [11]:
movie = pd.read_json('imdb.json')

In [12]:
movie

,Movie Name,Year of Realease,Watch time,Movie Rating,Votes,Gross
0,\n1.\nThe Shawshank Redemption\n(1994)\n,(1994),142 min,9.3,"2,657,393",$28.34M
1,\n2.\nThe Godfather\n(1972)\n,(1972),175 min,9.2,"1,841,776",$134.97M
2,\n3.\nKantara\n(2022)\n,(2022),148 min,9.1,"60,570",####
3,\n4.\nThe Dark Knight\n(2008)\n,(2008),152 min,9.0,"2,630,120",$534.86M
4,\n5.\nThe Lord of the Rings: The Return of the...,(2003),201 min,9.0,"1,832,242",$377.85M
...,...,...,...,...,...,...
195,\n196.\nSome Like It Hot\n(1959)\n,(1959),121 min,8.2,"267,230",$25.00M
196,\n197.\nThe Bridge on the River Kwai\n(1957)\n,(1957),161 min,8.2,"220,937",$44.91M
197,\n198.\nDial M for Murder\n(1954)\n,(1954),105 min,8.2,"176,172",$0.01M
198,\n199.\nTôkyô monogatari\n(1953)\n,(1953),136 min,8.2,"62,005",#206
199,\n200.\nLe salaire de la peur\n(1953)\n,(1953),131 min,8.2,"61,525",#191