In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import re

In [4]:
pd.pandas.set_option('display.max_columns' , None)

In [12]:
restro = pd.read_csv('restaurant.csv')

In [29]:
restro.head()

,Name,Categories,Badges in Years,Viwed
0,Porto's Bakery & Cafe,"RestaurantsCuban RestaurantsBreakfast, Brunch ...",62YEARSIN BUSINESS,0.0
1,Vegas Seafood Buffet,RestaurantsSeafood RestaurantsBuffet Restaurants,13YEARSIN BUSINESS,0.0
2,Raffi's Place,RestaurantsFamily Style RestaurantsMiddle East...,28YEARSIN BUSINESS,0.0
3,Conrad's Restaurant,RestaurantsAmerican RestaurantsRestaurant Menus,43YEARSIN BUSINESS,0.0
4,Islands,RestaurantsAmerican RestaurantsFamily Style Re...,40YEARSIN BUSINESS,0.0

# Nan Values

In [26]:
features_with_nan = [features for features in restro.columns if restro[features].isnull().sum()>1]
restro['Badges'] = restro['Badges'].fillna(0)
restro['Viwed'] = restro['Viwed'].fillna(0)

In [28]:
restro.rename(columns={'Badges' : 'Badges in Years'}, inplace = True)