In [9]:
import pandas as pd

In [10]:
pd.pandas.set_option('display.max_columns' , None)

In [11]:
icc = pd.read_json('output.json')

In [12]:
icc

     position               name_           country  rating_
0           1            Joe Root           ENGLAND      923
1           2  Marnus Labuschagne         AUSTRALIA      885
2           3          Babar Azam          PAKISTAN      874
3           4        Steven Smith         AUSTRALIA      848
4           5        Rishabh Pant             INDIA      801
..        ...                 ...               ...      ...
287        96     Shimron Hetmyer       WEST INDIES      374
288        97        Kusal Mendis         SRI LANKA      372
289        98        Norman Vanua  PAPUA NEW GUINEA      371
290        99         Kyle Mayers       WEST INDIES      369
291       100         Faisal Khan      SAUDI ARABIA      367

[292 rows x 4 columns]

In [64]:
any1 = input('enter')
upper = any1.upper()
print("your name is\t" , upper)

enterabDuLaL
your name is	 ABDULAL

In [ ]:
country = input('enter your country name it will show the number of players in your country')
uppercase_country = country.upper()
a = 0
empty_list = []
for i , row in icc.iterrows():
    main_column = icc['country'].loc[a]
    if uppercase_country == main_column:
        empty_list.append(uppercase_country)
        no_of_players = len(empty_list)
    a = a + 1
print('There are ',no_of_players,'players on the scoreboard of ICC from ',uppercase_country)

In [ ]:
icc['country'].unique()

In [92]:
print(empty_list)

[]

In [29]:
icc['country'].loc[:0]

0    ENGLAND
Name: country, dtype: object

In [68]:
icc['country'].loc[5]

'NEW ZEALAND'